@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Merienda:wght@400;700&family=Montserrat&family=Raleway:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Merienda:wght@400;700&family=Montserrat&family=Raleway:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import "./variables.scss";
@import "./overrides.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

  &:focus {
    outline: none;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

.v-application p {
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.hide-mobile {
  @include mobile(999px) {
    display: none !important;
  }
}

.show-mobile {
  display: none !important;
  @include mobile(999px) {
    display: inline !important;
  }
}