@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Merienda:wght@400;700&family=Montserrat&family=Raleway:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Merienda:wght@400;700&family=Montserrat&family=Raleway:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import "./variables.scss";
@import "./overrides.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

  &:focus {
    outline: none;
  }
}

.v-overlay.v-overlay--active.theme--dark {
  .v-overlay__scrim {
    opacity: 0.9 !important; 
  }
}

img {
  object-fit: cover;
}

.code-font {
  font-family: 'Source Code Pro', monospace;
}

.v-menu__content.theme--light.menuable__content__active {
  padding: 0 !important;
}

// RADIO BOX
.box-radio {
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0 1px 9px #e8e8e8;
  width: 100%;
  margin: 0 15px 0 0;
  padding: 1.5em 1em 1em 1em;
  cursor: pointer;

  h2 {
    font-size: 18px;
  }

  &:hover {
    box-shadow: 0 5px 12px #e8e8e8;
  }

  label.v-label.theme--light {
    display: block;
    color: #000;
    margin-left: 12px;
    font-size: 14px;
  }

  // .v-input--selection-controls__input {
  //   display: none !important;
  // }
}

html, body {
  margin: 0;
  padding: 0;
  color: $dark !important;
}

.night-text {
  color: #FFF !important;
}

.night-container, .night-bg {
  .icon {
    fill: $light !important;
  }
}

button {
  &:disabled {
    opacity: 0.3;
    cursor: not-allowed !important;
  }
}

.night-bg {
  background-color: $night-500 !important;
  box-shadow: 0 0 0 0px !important;
  color: #FFF !important;
}
// 1c1f33

.night-border {
  border: 1px solid $night-border !important;
}

.night-container {
  .border-top {
    border-top: 1px solid $night-border !important;
  }
}

.night-border-top {
  border-top: 1px solid $night-border !important;
}

.night-container {
  background-color: $night-400 !important;
  color: #FFF !important;
  box-shadow: 0 0 0 0px !important;

  th {
    background-color: $night-400 !important;
    color: #FFF !important;
  }
}
// 3c3f55

// Logo
.main-logo {
  color: $primary;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  // color: #0583ff;

  @include mobile(999px) {
    font-size: 0.9rem;
  }
}

.v-application p {
  line-height: 1.5;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.v-application ul {
  padding: 0;
  margin: 0;
}

p.description {
  font-size: 13px;
}

.hide-mobile {
  @include mobile(999px) {
    display: none !important;
  }
}

.show-mobile {
  display: none !important;
  @include mobile(999px) {
    display: inline !important;
  }
}

// VUETIFY OVERRIDE
.global-textarea-field {
  margin-top: 10px !important;
  textarea {
    width: 100% !important;
    height: 170px !important;
    background-color: #f2f3f5 !important;
    border-radius: 4px !important;
    padding: 10px 10px;
  }
}

// Textarea field
.border-global-textarea-field {
  margin-top: 10px !important;
  textarea {
    width: 100% !important;
    height: 170px !important;
    border: 1px solid #c5c6c7;
    background-color: #FFF !important;
    border-radius: 4px !important;
    padding: 10px 10px;
  }
}

// Date field
.border-global-date-field {
  .v-text-field {
    border: 1px solid #c5c6c7;
    margin-top: 0px !important;
    padding-top: 0px !important;
  }

  .v-input__slot {
    height: 40px !important;
    width: 100% !important;
    border: 1px solid #c5c6c7;
    background-color: #FFF !important;
    border-radius: 4px !important;
    padding: 5px 12px;
  }

  .v-text-field__slot {
    padding: 0 12px;
  }
}

.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)>.v-input__control>.v-input__slot {
  padding: 0;
}

.theme--light.v-application {
  color: #2b2a35;
}

.post-profile-details__image-wrapper {
  width: 40px;
  height: 40px;
  position: relative;
}

// Global inheritance
.break-words {
  word-wrap: break-word!important;
  word-break: break-word!important;
}

.text-left {
  text-align: left;
  font-size: 14px;
}

.right-border {
  border-right: 1px solid black;
}

.divider-margin {
  margin-bottom: 10px;
}

.round-image-container {
  border-radius: 200%;
}

.paragraph-light-text {
  color: gray;
  font-size: 12px;
}

// STATUSES
// Client
.open.status {
  background-color: #e3f7d2;
  border: 1px solid #6e9d45;
  padding: 2px 13px 3px 13px;
  border-radius: 50px;
  font-size: 14px;
  color: #6e9d45;
  text-transform: capitalize;
}

.processing.status {
  background-color: #FFF;
  border: 1px solid red;
  padding: 2px 13px 3px 13px;
  border-radius: 50px;
  font-size: 14px;
  color: red;
  text-transform: capitalize;
}




// STEPPER
.theme--light.v-stepper {
  background-color: transparent !important;
}

.v-stepper__step--complete {
  span.v-stepper__step__step.primary {
    background-color: #1cdfcb !important;
  }
}

.v-divider.theme--light.complete {
  border-color: #1cdfcb !important;
}
// PAYMENT
// STEPPER
// .stepping {
//   display: block !important;
//   margin: auto !important;
//   text-align: center !important;

// }
// .v-stepper__label {
//   text-align: center !important;
//   display: block !important;
//   font-size: 16px !important;
// }

// .v-stepper__step__step {
//   height: 50px !important;
//   width: 50px !important;
//   margin-right: 0 !important;
//   margin-bottom: 7px !important;
//   font-size: 18px !important;
// }

// .theme--light.v-stepper .v-stepper__step:not(.v-stepper__step--active):not(.v-stepper__step--complete):not(.v-stepper__step--error) .v-stepper__step__step {
//   background-color: #b0bec5 !important;
// }

// .v-application--is-ltr .v-stepper--vertical .v-stepper__content {
//   margin: -8px 0px -16px 80px;
// }

// .v-stepper__content.done {
//   border-left: 2px solid #1cdfcb !important;
// }


// .v-stepper__step--active {
//   span.v-stepper__step__step.primary {
//     background-color: $primary !important;
//   }
// }

// .v-stepper__content.undone {
//   border-left: 2px solid #DDDFE5 !important;
// }