@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Merienda:wght@400;700&family=Montserrat&family=Raleway:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Merienda:wght@400;700&family=Montserrat&family=Raleway:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import "./variables.scss";
@import "./overrides.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

  &:focus {
    outline: none;
  }
}

html, body {
  margin: 0;
  padding: 0;
  color: $dark !important;
}

.night-text {
  color: #FFF !important;
}

.v-application p {
  line-height: 1.5;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.v-application ul {
  padding: 0;
  margin: 0;
}

p.description {
  font-size: 13px;
}

.hide-mobile {
  @include mobile(999px) {
    display: none !important;
  }
}

.show-mobile {
  display: none !important;
  @include mobile(999px) {
    display: inline !important;
  }
}

// VUETIFY OVERRIDE
.global-textarea-field {
  margin-top: 10px !important;
  textarea {
    width: 100% !important;
    height: 170px !important;
    background-color: #f2f3f5 !important;
    border-radius: 4px !important;
    padding: 10px 10px;
  }
}

.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)>.v-input__control>.v-input__slot {
  padding: 0;
}

.theme--light.v-application {
  color: #2b2a35;
}

.post-profile-details__image-wrapper {
  width: 40px;
  height: 40px;
  position: relative;
}

// Global inheritance
.break-words {
  word-wrap: break-word!important;
  word-break: break-word!important;
}

.text-left {
  text-align: left;
  font-size: 14px;
}