@import "@/assets/styles/variables.scss";

.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot, .v-text-field.v-text-field--enclosed .v-text-field__details {
  padding: 0 0px !important;
}

.gradient-text {
  -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(
    -70deg
    ,#ff872c,#f11d28);
    -webkit-background-clip: text;
    background-clip: text;
}

// FLEX classes
.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.mobile-flex-column {
  @include mobile(999px) {
    flex-direction: column;
  }
}


// TEXT and FONTS
.bold {
  font-weight: 600;
}

.cursor-pointer {
  cursor: pointer;
}

.line-through {
  text-decoration: line-through;
}

.text-error {
  color: #d81e06;
}

.text-center {
  text-align: center;
}

.border-top {
  border-top: 1px solid #eee;
}

.border-right {
  border-right: 1px solid #eee;
}

.border-left {
  border-left: 1px solid #eee;
}

.ellipsis {
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: .90rem;
}

.ellipsis-2 {
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: .90rem;
}

.ellipsis-3 {
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: .90rem;
}

// texts
.heading-h1 {
  font-size: 1.3rem;
  letter-spacing: 0;
}

.heading-h2 {
  font-size: 1rem;
  letter-spacing: 0;
}

.heading-h3 {
  font-size: 0.875rem;
  letter-spacing: 0;
}

.text-12 {
  font-size: 0.75rem;
  letter-spacing: 0;
}

.text-14 {
  font-size: 0.875rem;
  letter-spacing: 0;
}

.text-16 {
  font-size: 1rem;
  letter-spacing: 0;
}