$primary: #002D63;
$dark: #333;
$secondary: #00A1E6;
$light: #FFF;
$light-gray: #DDDDDD;
$dark-gray: #333333;

$crimson: #272727;
$pink: #ff9784;
$peach: #F4744B;

// dark mode themes
$input: #f5f4f2;

// for templates
.light-text {
  color: #757575;
}

.primary-text {
  color: #002D63;
}

@mixin mobile($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

@mixin customSize($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin minWidth($min) {
  @media (min-width: $min) {
    @content;
  }
}